* {
    overscroll-behavior: none; /* Desactiva el rebote del scroll */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.loading {
    position: fixed;;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading .loading-spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;

    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading img {
    width: 100px;
    height: 100px;
}

.navbar-open {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    transform: translateX(-100%);
}

.navbar-open .close {
    position: absolute;
    top: 28px;
    right: 20px;
    cursor: pointer;
}

.navbar-open .close img {
    width: 30px;
    height: 30px;
}

.navbar-open .top-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar-open .top-message h2 {
    color: #000000;
    font-size: 24px;
    margin: 0;
}

.navbar-open .top-message button {
    background-color: #0f3c7d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.navbar-open .top-message button:hover {
    background-color: #0f3d7dc6;
    color: #fff;
}

.navbar-open .top-message button:active {
    transform: scale(0.95);
}

.navbar-open .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-open .logo img {
    width: 150px;
    height: 150px;
}

.navbar-open ul {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    padding-bottom: 50px;
    margin: 0;
}

.navbar-open ul li {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.navbar-open ul li a {
    color: #000000;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 20px;
    transition: color 0.3s ease, background-color 0.3s ease, border 0.3s ease;
}

.navbar-open ul li:hover {
    background-color: #9fcaff;
    border-radius: 5px;
}

.navbar-open ul li:active {
    transform: scale(0.95);
}

.navbar-open ul li img {
    width: 40px;
    height: 40px;
    padding: 5px;
}

.navbar-open div p {
    color: #c0c0c0;
    font-size: 14px;
    margin: 0;
    text-align: center;
    margin-bottom: 20px;
}

header {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    position: fixed;
    z-index: 999;
}

header nav {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
}

header nav .logo {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}

header nav .logo img {
    width: 80px;
    height: 80px;
}

header nav .items {
    display: flex;
    gap: 10px;
    margin-left: 20px;
    flex-wrap: wrap;
}

header nav .items ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav .items ul li {
    display: inline;
}

header nav .items ul li a {
    color: #00000080;
    font-size: 12px;
    text-decoration: none;
    padding: 10px 20px;
    transition: color 0.3s ease;
}

header nav .items ul li a:hover {
    color: #000000;
}

header nav .buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-left: auto;
    flex-wrap: wrap;
}

header nav .buttons .non-responsive {
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

header nav .buttons .non-responsive:active {
    transform: scale(0.95);
}

header nav .buttons .non-responsive:nth-child(1) {
    background-color: #0f3c7d;
    color: #fff;
}

header nav .buttons .non-responsive:nth-child(2) {
    background-color: #fff;
    color: #0f3c7d;
    border: 1px solid #0f3d7d79;
}

header nav .buttons .non-responsive:nth-child(1):hover {
    background-color: #0f3d7dc6;
    color: #fff;
}

header nav .buttons .non-responsive:nth-child(2):hover {
    background-color: #b1b1b1b6;
    color: #0f3c7d;
}

header nav .buttons .buy-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
}

header nav .buttons .buy-cart img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

header nav .buttons .buy-cart span {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: red;
    color: #fff;
    font-size: 13px;
    width: 20px;
    height: 20px;
    position: absolute;
    transform: translateX(70%) translateY(-60%);
}

header nav .buttons .buy-cart:active {
    transform: scale(0.95);
}

header nav .buttons .user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5px;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
}

header nav .buttons .user img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

header nav .buttons .user span {
    font-family: Arial, sans-serif;
    text-transform: capitalize;
    font-size: small;
}

header nav .buttons .user span:hover {
    color: #0f3d7d;
}

header nav .buttons .user:active {
    transform: scale(0.95);
}

/* RESPONSIVE */

header nav .buttons .responsive {
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

header nav .buttons .responsive img {
    width: 30px;
    height: 30px;
}

/* Responsive Design */
@media (max-width: 840px) {
    header nav .items {
        display: none;
    }

    header nav .non-responsive {
        display: none;
    }

    header nav .buttons .responsive {
        display: flex;
    }
}

@media (max-width: 675px) {
}


/* profile */

